<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericmguimaraes.gaso">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registers.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registers.CarRegisterActivity"
            android:label="@string/title_activity_car_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".registers.UserRegisterActivity"
            android:label="@string/title_activity_user_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lists.UserListActivity"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lists.CarListActivity"
            android:label="@string/title_activity_car_list"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
